.w-45{
    min-width: 45vw;
}

.mh-30{
    max-height: 30vh;
    overflow-y: scroll;
}

.mh-50{
    max-height: 50vh;
    overflow-y: scroll;
}
.w-80{
    max-width: 80%;
    width: 80%;
}

.h-4{
    height: 4rem;
}

.w-4{
    width: 4rem;
}